<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  h3{text-align: center;}
  h3{font-size: 25px;}

  </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cake Shop</title>
    <link rel="stylesheet" href="../css/stylee.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Flamenco:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<body>
  <div class="homepage"></div>
    <header>
      
        <nav class="navbar">
            <div class="row clearfix">
                <a href="#" class="logo ">Cake n Bake</a>
                <ul class="links">
                    <li class="sign"><a href="/signin">Sign In/ Sign up</a></li>
                    <!-- <li class="signup"><a href="signin.html">Sign Up</a></li> -->
                    <li class="ocake"><a href="#" >Ocaasion cake</a>
                      <ul class="dropmenu">
                        <li><a href="/cake/Birthday_Cakes" >Birthday Cakes</a></li>
                        <li><a href="/cake/Anniversary_Cakes">Anniversary Cakes</a></li>
                        <li><a href="/cake/Christmas_Cakes">Christmas Cakes</a></li>
                        <li><a href="/cake/Retirement_Cakes">Retirement Cakes</a></li>
                        <li><a href="/cake/Valentines_Cakes">Valentine's Cakes</a></li>
                        <li><a href="/cake/Baby_Shower_Cakes">Baby Shower Cakes</a></li>
                    </ul>
                    </li>
                    <li class="fcake"><a href="#border">Cake flavours</a>
                      <ul class="dropmenu">
                        <li><a href="/cake/Chocolate_Cakes" >Chocolate Cake</a></li>
                        <li><a href="/cake/RedVelvet_Cakes">Red Velvet Cake</a></li>
                        <li><a href="/cake/Oreo_Cakes">Oreo Cake</a></li>
                        <li><a href="/cake/Pineapple_Cakes">Pineapple Cake</a></li>
                        <li><a href="/cake/Strawberry_Cakes">Strawberry Cake</a></li>
                        <li><a href="/cake/Vanilla_Cakes">Vanilla Cake</a></li>
                        <li><a href="/cake/Fruit_Cakes">Fruit Cake</a></li>
                        <li><a href="/cake/Black_Forest_Cakes">Black Forest Cake</a></li>
                        <!-- <li><a href="coffee.html">Coffee Cake</a></li> -->
                        <!-- <li><a href="oreo.html">Oreo Cake</a></li> -->
                        <!-- <li><a href="strawberry.html">Strawberry Cake</a></li> -->
                        <!-- <li><a href="blueberry.html">Blueberry Cake</a></li> -->
                    </ul>
                    </li> 
                    <li class="cart" ><a href="/showcart">Cart</a>
                      <span class="iconify" data-icon="bi:cart-plus-fill"></span>
                    </li>
     
                </ul>
            </div>
        </nav>

        <div class="main">
            <p class="big-text"><span class="change">Cake and Bake</span><br><p class="big-text">House Of Cake Lovers</p></p>
            <a href="" class="btn">Order now</a>
        </div>
        </div>
      
    </header>


    <div id="border" class="picture grid">
      <h2>Cakes by Flavor</h2>
      {{#each Product}}
      
      <div class="row">
        {{#each row }}
        <div class="col">
          <form action="/cake/{{name}}">
          <button type="submit">
          <a href="chocolate.html"> <img src="{{link}}" alt=""></img></a>

          <h3 >{{name}}</h3>
          </button>
          </form>
        </div>
        {{/each}}
      </div>
      
      {{/each}}



        
      </div>

    <div id="border" class="picture grid">
      <h2>Occasion Cakes</h2>
      {{#each Occasion}}
      
      <div class="row">
        {{#each row }}
        <div class="col">
          <form action="/cake/{{name}}">
          <button type="submit">
          <a href="chocolate.html"> <img src="{{link}}" alt=""></img></a>

          <h3 >{{name}}</h3>
          </button>
          </form>
        </div>
        {{/each}}
      </div>
      
      {{/each}}
   
      </div>

    </div>
  </div>

</body>
</html>
